/* fonts */

@font-face {
    font-family:Roboto-Regular; 
	src: url(../libs/font/Roboto-Regular.ttf);
}
@font-face {
    font-family:Roboto-Medium;
    src: url(../libs/font/Roboto-Medium.ttf);
}
@font-face {
    font-family:Roboto-Bold; 
	src: url(../libs/font/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto-Black;
    src: url(../libs/font/Roboto-Black.ttf);
}
@font-face {
    font-family:Calibri-Bold;
    src: url(../libs/font/Calibri-Bold.ttf);
}